{% extends "base.html" %}

{% block content %}
<h3>Author:</h3>
    {% for book in books  %}
    <ul>
        <li>{{ book.author }}</li>
    </ul>
    {% endfor %}
<div class="form-style-10">
<h1>Get new book!<span>Get new books of the DB!</span></h1>


<form action="/books/author" method="post">
    <div class="section"><span>2</span>Author full name</div>
    <div class="inner-wrap">
        {{ form.author_name.label }}
        {{ form.author_name }}
    </div>
    <div class="button-section">
     <input type="submit" name="Add new book" />
    </div>
</form>
</div>
{% endblock %}